In [22]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [23]:
df = pd.read_csv('Placement_Data_Full_Class (1).csv')

In [24]:
df.drop('sl_no',axis=1,inplace=True)

In [25]:
df1 = ['gender','ssc_b','hsc_b','hsc_s','degree_t','workex','specialisation','status']

In [26]:

for col in df1:
   
    df[f'{col}_c'] = df[col].astype('category').cat.codes

In [27]:
df.drop(columns=df1,inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ssc_p             215 non-null    float64
 1   hsc_p             215 non-null    float64
 2   CGPA              215 non-null    float64
 3   etest_p           215 non-null    float64
 4   Masters           215 non-null    float64
 5   gender_c          215 non-null    int8
 6   ssc_b_c           215 non-null    int8
 7   hsc_b_c           215 non-null    int8
 8   hsc_s_c           215 non-null    int8
 9   degree_t_c        215 non-null    int8
 10  workex_c          215 non-null    int8
 11  specialisation_c  215 non-null    int8
 12  status_c          215 non-null    int8
dtypes: float64(5), int8(8)
memory usage: 10.2 KB

In [29]:
x = df.iloc[:,:-1].values
x.shape

(215, 12)

In [30]:
y= df.iloc[:, -1].values
y.shape

(215,)

In [31]:
y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int8)

GRADIENT  DESCENT IMPLEMENTATAION

In [32]:
theta = np.random.random(x.shape[1])

In [33]:
Y=y
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [34]:
def loss(theta,x,y):
    h = sigmoid(x.dot(theta))
    return -np.sum(y* np.log(h)+(1-y)*np.log(1-h))

In [35]:
def gradient_descent(theta,x,y,alpha,num_iteration):
    m= len(y)
    for i in range (num_iteration):
        h = sigmoid(x.dot(theta))
        gradient =  x.T.dot(h-y)/m
        theta -= alpha * gradient
    return theta

In [36]:
theta = gradient_descent(theta,x,y,alpha=0.01,num_iteration=1000)

In [37]:
theta

array([ 1.68872355,  0.74975237,  0.31634285, -0.25791138, -2.51982792,
        0.75924621,  0.35474947,  0.84436727,  0.08653747,  0.22139064,
        0.48961596, -0.0151626 ])

Model Training

In [38]:
def predict(theta,x):
    h = sigmoid (x.dot(theta))
    y_pred = np.where(h>=0.15,1,0)
    return y_pred

y_pred = np.where(h>=0.5,1,0) predict the probability wheather 0 or 1

In [39]:
y_pred = predict(theta,x)

accuracy = np.mean(y_pred.flatten()==y)
accuracy

0.8465116279069768

In [40]:
print(f"ACCURACY = ",accuracy* 100)

ACCURACY =  84.65116279069768

In [41]:
df.head(5)

,ssc_p,hsc_p,CGPA,etest_p,Masters,gender_c,ssc_b_c,hsc_b_c,hsc_s_c,degree_t_c,workex_c,specialisation_c,status_c
0,67.00,91.00,58.00,55.0,58.80,1,1,1,1,2,0,1,1
1,79.33,78.33,77.48,86.5,66.28,1,0,1,2,2,1,0,1
2,65.00,68.00,64.00,75.0,57.80,1,0,0,0,0,0,0,1
3,85.80,73.60,73.30,96.8,55.50,1,0,0,1,0,0,0,1
4,82.00,64.00,66.00,67.0,62.14,1,0,0,2,2,1,0,1